@font-face {
  font-family: 'FOT-Seurat Pro Bold';
  src: local('FOT-Seurat Pro Bold'), url('./Fonts/FOT-SeuratProB.otf'), format('otf');
}

@font-face {
  font-family: 'FOT-Seurat Pro DemiBold';
  src: local('FOT-Seurat Pro DemiBold'), url('./Fonts/FOT-SeuratProDB.otf'), format('otf');
}

@font-face {
  font-family: 'FOT-Seurat Pro Medium';
  src: local('FOT-Seurat Pro Medium'), url('./Fonts/FOT-SeuratProM.otf'), format('otf');
}

body {
  background-color: #202328;
  font-family: FOT-Seurat Pro DemiBold;
  font-size: 14px;
  overflow: hidden;
  color: #EDFDFF;
}

.menu-button {
  display: inline-block;
  cursor: pointer;
  max-width: fit-content;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 7px 0;
  border-radius: 25px;
  background-color: #EDFDFF;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 10px) rotate(-45deg)
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -10px) rotate(45deg)
}

.buttonA, .buttonB {
  transition: 0.4s;
}

.buttonA.change {
  opacity: 0;
}

.buttonB.change {
  opacity: 0;
}

.button-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

button {
  font-size: 12px;
  font-family: FOT-Seurat Pro Bold;
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  background-color: #202328;
  color: #EDFDFF;
  border-color: #EDFDFF;
  padding: .5rem 1.5rem;
  display: block;
  letter-spacing: 1px;
  transition-duration: 0.2s;
}

button:hover {
  text-decoration: none;
  border-color: #202328;
  color: #202328;
  border-style: solid;
  background-color: #EDFDFF;
  border-width: 2px;
}

.next-button {
  margin: auto;
  margin-top: .5rem;
  padding: .2rem 1.2rem;
  background-color: #202328;
  color: #EDFDFF;
  border-color: #EDFDFF;
  font-size: 12px;
}

.next-button:hover {
  border-color: #202328;
  color: #202328;
  background-color: #EDFDFF;
}

.tips-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}

// make responsive with breakpoints
#tips {
  margin: 0 17vw;
  text-align: center;  
}

#tips.animation {
  animation: fade-in 7s ease infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  15% {
    opacity: 1;
    transform: translateY(0%);
  }
  85% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(20%);
  }
}

.SA {
  margin: auto;
  width: 100%;
  position: relative;
  right: 1vw;
}

.SB {
  margin: auto;
  margin-top: 0;
}

.SB-obj {
  margin: auto;
  max-width: 70%;
}

.loadingA {
  position: fixed;
  bottom: 5%;
  left: 90vw;
  span {
    font-family: FOT-Seurat Pro Bold;
    display: inline-block;  
    animation: loading 1.5s infinite;
    // position: relative;
    // bottom: 50px;
    margin: 1px;
    @for $i from 1 through 15 {
      &:nth-child(#{$i+1}) {
        animation-delay: #{$i*.1}s;
      }
    }
  }
}

.loadingB {
  position: fixed;
  bottom: 5%;
  left: 90vw;
  span {
    font-family: FOT-Seurat Pro Bold;
    display: inline-block;  
    animation: loading 1.5s infinite;
    margin: 1px;
    @for $i from 1 through 15 {
      &:nth-child(#{$i+1}) {
        animation-delay: #{$i*.1}s;
      }
    }
  }
}

@keyframes loading {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

.scene {
  margin: 5vh 5vw;
}